.git
.github
.vs
.vscode
.idea
**/bin
**/obj
**/node_modules
**/dist
**/TestResults
**/test-results
**/playwright-report
**/coverage
**/logs
**/*.log
**/*.zip
**/.env
**/.env.*
**/appsettings.Production.json
**/appsettings.*.local.json
artifacts
